/* You can add global styles to this file, and also import other style files */
$bgColorBody: #f9f9f9;
$bgColorDetailsBtn: #b8b8b8;
$bgColorContainer: white;
$bgGradientCallout: linear-gradient(to left, #00c6f8, #0081e6);
$submitColor: #464648;
$fontGeneral: white;
$fontBlack: black;
$fontTitle: #0099e5;
$fontCity: #373737;
$fontProvince: #a8b8c0;

@mixin flex(){
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexDirection($direction){
  @if $direction == row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  @if $direction == column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }
  flex-direction: $direction;
  -ms-flex-direction: $direction;

}

html, body, header, .container, .callout, .ngx-pagination{
  min-width: 280px !important;
}

body{
    background-color: $bgColorBody;
}
header{
  display: block;
  width: 80vw;
  margin: auto;
  @media only screen and(max-width: 900px){
    @include flex;
    @include flexDirection(column);
    flex-grow: 0;
    width: 90vw;
    margin: auto;
  }
  img{
    width: 281px;
    margin-bottom:12px;
  }
  .searchBar {
    @include flex;
    @include flexDirection(row);
    flex-shrink: 1;
    float:right;
    @media only screen and (max-width: 900px){
      float: none;
    }
    button {
      float: right;
      height: 50px;
      min-width: 100px;
      background-color: $submitColor;
      border: none;
      color: $fontGeneral;
    }
    input[type='search'] {
      float: right;
      display: block;
      height: 50px;
      min-width: 225px;
      @media only screen and(max-width: 900px) {
        width: 100%;
      }
    }
  }
}
.callout{
  width: 80vw;
  height: 110px;
  background: $bgGradientCallout;
  margin: auto;
  @media only screen and (max-width: 900px){
    width: 90vw;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    color: $fontGeneral;
    line-height: 110px;
    @media only screen and (max-width: 900px){
      font-size: 22px;
    }
  }

}
.container {
  @include flex;
  @include flexDirection(row);
  flex-shrink:0;
  width: 80vw;
  height: 140px;
  margin: 3px auto;
  background-color: $bgColorContainer;
  overflow: hidden;
  @media only screen and (max-width: 900px){
    width: 90vw;
  }
  .logo-container{
    @include flex;
    flex-shrink:0;
    width: 220px;
    @media only screen and (max-width: 640px){
      display: none;
    }
    img{
      display: block;
      width: auto;
      max-height: 100px;
      max-width: 160px;
      margin: auto;
    }
  }
  .meta-container{
    @include flex;
    @include flexDirection(column);
    width: 100%;
    @media only screen and (max-width: 640px){
      padding: 12px;
    }
    .title {
      color: $fontTitle;
      overflow: hidden;
      height:65px;
      width:100%;
      margin-top: 5px;
      font-size: 27px;
      @media only screen and (max-width: 900px){
        margin-top: 10px;
        font-size: 17px;
      }
      @media only screen and (max-width: 640px){
        height: 50px;
      }
    }
    .city {
      color: $fontCity;
    }
    .province {
      color: $fontProvince;
    }
  }
  .button-container{
    height: 100%;
    display: flex;
    padding: 10px;
    a {
      text-decoration: none;
      margin: auto;
      :hover, :hover button {
        cursor: pointer;
        background-color: $bgColorDetailsBtn;
      }
      button {
        background-color: #cfcfcf;
        border: none;
        width: 166px;
        height: 37px;
        color: #6d6d71;
        @media only screen and (max-width: 640px){
          width: 100px;
        }
      }
    }
  }
}
.searchcounter {
  color: indianred;
  font-size: 12px;
}

.ngx-pagination {
  margin-left: auto !important;
  margin-bottom: 1rem !important;;
  margin-right: auto !important;;
  width: 80vw !important;;
  padding:0;
  @media only screen and (max-width: 640px){
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

}

footer {
  width:80vw;
  height: 140px;
  margin: auto;
  p {
    font-size: 13px;
    color: #7a98a7;
  }
}
