/* Color Variables */
$bgColorBody: #f9f9f9;
$bgColorDetailsBtn: #cfcfcf;
$bgColorDetailsBtnHover: #b8b8b8;
$bgColorContainer: white;
$bgColorSubmitButton: #464648;
$bgGradientCallout: linear-gradient(to left, #00c6f8, #0081e6);
$fontGeneral: white;
$fontBlack: black;
$fontTitle: #0099e5;
$fontCity: #373737;
$fontProvince: #a8b8c0;
$fontSearchResults: indianred;
$fontButtonText: #6d6d71;
$fontFooter: #7a98a7;

/* Mixin's */
@mixin flex() {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexDirection($direction) {
  @if $direction == row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  @if $direction == column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@mixin flexGrow($grow) {
  flex-grow: $grow;
  -webkit-flex-grow: $grow;
}

@mixin flexShrink($shrink) {
  flex-shrink: $shrink;
  -webkit-flex-shrink: $shrink;
}

@mixin justifyContent($justify) {
  justify-content: $justify;
  -webkit-justify-content: $justify;
}

/* Styles */
html, body, header, .container, .callout, .ngx-pagination {
  min-width: 280px !important;
}

body {
  background-color: $bgColorBody;
}

header {
  display: block;
  width: 80vw;
  margin: auto;
  @media only screen and(max-width: 900px) {
    @include flex;
    @include flexDirection(column);
    flex-grow: 0;
    width: 90vw;
    margin: auto;
  }
  img {
    width: 281px;
    margin-bottom: 12px;
  }
  .searchBar {
    @include flex;
    @include flexDirection(row);
    flex-shrink: 1;
    float: right;
    @media only screen and (max-width: 900px) {
      float: none;
    }
    button {
      float: right;
      height: 50px;
      min-width: 100px;
      background-color: $bgColorSubmitButton;
      border: none;
      color: $fontGeneral;
    }
    input {
      -webkit-appearance: none;
    }
    input[type='search'] {
      float: right;
      display: block;
      height: 50px;
      min-width: 225px;
      border: 1px solid $bgColorSubmitButton;
      border-radius:0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      @media only screen and(max-width: 900px) {
        width: 100%;
      }
    }
  }
}

.callout {
  width: 80vw;
  height: 110px;
  background: $bgGradientCallout;
  margin: auto;
  @media only screen and (max-width: 900px) {
    width: 90vw;
  }
  h1 {
    font-size: 30px;
    text-align: center;
    color: $fontGeneral;
    line-height: 110px;
    @media only screen and (max-width: 900px) {
      font-size: 22px;
    }
    @media only screen and (max-width: 640px) {
      font-size: 17px;
      white-space: normal;
      padding: 35px;
      line-height: 100%;
    }
  }
}

.container {
  @include flex;
  @include flexDirection(row);
  @include justifyContent(space-between);
  flex-shrink: 0;
  width: 80vw;
  height: 140px;
  margin: 3px auto;
  background-color: $bgColorContainer;
  overflow: hidden;

  @media only screen and (max-width: 900px) {
    width: 90vw;
  }
  .logo-container {
    @include flex;
    @include flexShrink(0);
    width: 220px;
    @media only screen and (max-width: 640px) {
      display: none;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 100px;
      max-width: 160px;
      margin: auto;
    }
  }
  .meta-container {
    @include flex;
    @include flexDirection(column);
    width: 100%;
    @media only screen and (max-width: 640px) {
      padding: 12px;
    }
    .title {
      color: $fontTitle;
      overflow: hidden;
      height: 65px;
      width: 100%;
      margin-top: 5px;
      font-size: 27px;
      @media only screen and (max-width: 900px) {
        margin-top: 10px;
        font-size: 17px;
      }
      @media only screen and (max-width: 640px) {
        height: 50px;
        font-size: 19px;
      }
    }
    .city {
      color: $fontCity;
    }
    .province {
      color: $fontProvince;
    }
  }
  .button-container {
    @include flex();
    min-width: 100px;
    height: 100%;
    padding: 10px;
    a {
      text-decoration: none;
      margin: auto;
      :hover, :hover button {
        cursor: pointer;
        background-color: $bgColorDetailsBtnHover;
      }
      button {
        background-color: $bgColorDetailsBtn;
        border: none;
        height: 37px;
        color: $fontButtonText;
      }
    }
  }
}

.searchcounter {
  color: $fontSearchResults;
  font-size: 12px;
}

.ngx-pagination {
  margin-left: auto !important;
  margin-bottom: 1rem !important;;
  margin-right: auto !important;;
  width: 80vw !important;;
  padding: 0;
  @media only screen and (max-width: 640px) {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

footer {
  width: 80vw;
  height: 140px;
  margin: auto;
  p {
    font-size: 13px;
    color: $fontFooter;
  }
}
